
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
.vs/NetworkSocketProgramming/FileContentIndex/0483e446-c668-4542-baf6-9fd8b63e0602.vsidx
.vs/NetworkSocketProgramming/FileContentIndex/32e87dba-0fe9-44bb-aa03-df91ae515b5b.vsidx
.vs/NetworkSocketProgramming/FileContentIndex/0483e446-c668-4542-baf6-9fd8b63e0602.vsidx
.vs/NetworkSocketProgramming/FileContentIndex/c5d32dd4-27e4-4185-a1d6-3c4493680438.vsidx
.vs/NetworkSocketProgramming/FileContentIndex/f01a2d34-206e-46a6-bb95-c36a5ce08901.vsidx
